.contact-policy {
  padding-top: 30px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 30px; }
  .contact-policy .policy-item {
    display: block;
    padding: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .contact-policy .policy-item:hover {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      transform: translateY(-3px); }
    .contact-policy .policy-item .image {
      text-align: center;
      width: 25%;
      float: left;
      min-height: 1px; }
    .contact-policy .policy-item .content {
      width: 75%;
      padding-left: 15px;
      position: relative;
      border-left: 2px solid #ffb0f8;
      float: left; }
      .contact-policy .policy-item .content h3 {
        color: #333333;
        margin: 0px;
        line-height: 20px;
        font-size: 16px; }
      .contact-policy .policy-item .content span {
        color: #333333;
        font-size: 14px; }

.contact .contact-title {
  color: #333333;
  padding: 0px 0px 15px 0px;
  margin: 0px 0px 15px 0px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: normal;
  font-weight: normal; }

.contact .form-vertical {
  margin-bottom: 15px; }
  .contact .form-vertical .contact-form .form-row .form-group label[for] {
    cursor: pointer; }
  .contact .form-vertical .contact-form .form-row .form-group input {
    border: 1px solid #e5e5e5;
    max-width: 100%;
    padding: 8px 10px;
    border-radius: 3px;
    margin-bottom: 10px; }
  .contact .form-vertical .contact-form .form-row .form-group .hidden-label {
    position: absolute;
    height: 0;
    width: 0;
    margin-bottom: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px); }
  .contact .form-vertical .contact-form .form-row .form-group .input-full {
    width: 100%; }
  .contact .form-vertical .contact-form .form-row .form-group.message {
    width: 100%;
    padding: 0 6px; }
  .contact .form-vertical .contact-form .form-row .btn-submit {
    margin: auto;
    border-radius: 25px;
    padding: 10px 25px;
    color: #fff;
    background-image: -webkit-gradient(linear, left top, right top, from(#151515eb), to(#3838388c));
    background-image: -webkit-linear-gradient(to right, #151515eb, #3838388c);
    background-image: -o-linear-gradient(to right, #151515eb, #3838388c);
    background-image: linear-gradient(to right, #151515eb, #3838388c) border-box;
    opacity: 0.7;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .contact .form-vertical .contact-form .form-row .btn-submit:hover {
      opacity: 1; }

.contact .imgcontact {
  padding-top: 100px;
  will-change: transform;
  transform: perspective(300px) rotateX(0deg) rotateY(0deg); }

.contact .frm-contact {
  max-width: 80%;
  margin: 0 auto; }
  .contact .frm-contact .groupsubmit {
    text-align: center; }
    .contact .frm-contact .groupsubmit button {
      width: 100%;
      max-width: 150px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      background-image: -webkit-gradient(linear, left top, right top, from(#151515eb), to(#3838388c));
      background-image: -webkit-linear-gradient(to right, #151515eb, #3838388c);
      background-image: -o-linear-gradient(to right, #151515eb, #3838388c);
      background-image: linear-gradient(to right, #151515eb, #3838388c); }

.contact .info {
  margin-bottom: 30px; }
  @media (max-width: 767px) {
    .contact .info {
      margin-bottom: 0; } }
  .contact .info .item {
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.11);
    padding: 10px; }
    @media (max-width: 767px) {
      .contact .info .item {
        margin-bottom: 30px; } }
    .contact .info .item h3 {
      font-size: 20pt;
      font-family: 'Cinzel', serif;
      text-align: left;
      margin-bottom: 10px;
      color: #000; }
      @media (max-width: 991px) {
        .contact .info .item h3 {
          font-size: 14pt; } }
    .contact .info .item p {
      font-family: 'Roboto', sans-serif;
      margin-top: 0;
      margin-bottom: 0;
      color: #000;
      font-size: 11pt; }
      @media (max-width: 991px) {
        .contact .info .item p {
          font-size: 7pt; } }

.contact .info2 .item {
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.11);
  padding: 20px;
  width: 100%;
  display: inline-block; }
  @media (max-width: 991px) {
    .contact .info2 .item {
      box-shadow: none;
      padding: 0; } }
  .contact .info2 .item h3 {
    font-size: 20pt;
    font-family: 'Cinzel', serif;
    text-align: left;
    margin-bottom: 10px;
    color: #000; }
    @media (max-width: 991px) {
      .contact .info2 .item h3 {
        font-size: 14pt; } }
  .contact .info2 .item .location {
    width: 50%;
    float: left; }
    @media (max-width: 991px) {
      .contact .info2 .item .location {
        width: 100%;
        float: left;
        box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.11);
        padding: 10px;
        margin-bottom: 30px; } }
    .contact .info2 .item .location .content {
      width: 100%; }
      .contact .info2 .item .location .content iframe {
        width: 100%;
        height: 500px; }
  .contact .info2 .item .frm-send-message {
    width: 50%;
    float: right; }
    @media (max-width: 991px) {
      .contact .info2 .item .frm-send-message {
        width: 100%;
        float: left;
        box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.11);
        padding: 30px 10px;
        margin-bottom: 30px; } }
    .contact .info2 .item .frm-send-message h3 {
      text-align: center; }
