.main.homepage {
  padding-bottom: 0;
  overflow: hidden; }
  @media (max-width: 992px) {
    .main.homepage {
      overflow-x: hidden; } }
  .main.homepage .section-title {
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center; }
    .main.homepage .section-title h2 {
      color: #2e7250;
      text-align: center;
      font-size: 14px;
      font-family: "Lato-Bold" , sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 1.5em; }
    .main.homepage .section-title h3 {
      color: #272424;
      text-align: center;
      font-family: "futura-std";
      font-weight: 500;
      font-size: 38px;
      line-height: 1.4em; }
      @media (max-width: 992px) {
        .main.homepage .section-title h3 {
          font-size: 28px; } }
  .main.homepage .home-section-about .section-title h3 {
    max-width: 63%; }
    @media (max-width: 992px) {
      .main.homepage .home-section-about .section-title h3 {
        max-width: 80%; } }

.home-section-subscribe {
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 50px 0; }
  .home-section-subscribe h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0; }
  .home-section-subscribe .box-subscribe {
    display: flex;
    justify-content: end; }

.home-section-about {
  margin: 0 0 50px;
  background-size: cover;
  background-position: center bottom 0px;
  background-repeat: no-repeat;
  background-image: url(../images/bg04.png), linear-gradient(180deg, #ffffff 0%, #deecf3 100%); }

.main-video-homepage {
  margin-top: 215px; }
  @media (max-width: 992px) {
    .main-video-homepage {
      margin-top: 70px; } }
  .main-video-homepage .video-banner {
    position: relative; }
    .main-video-homepage .video-banner .video-background {
      width: 100%; }
    .main-video-homepage .video-banner .info-video {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 30px;
      width: 80%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      @media (max-width: 992px) {
        .main-video-homepage .video-banner .info-video {
          display: none; } }
      .main-video-homepage .video-banner .info-video p {
        color: #ffffff;
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 0;
        text-align: center;
        background-color: #211e1f61;
        display: flex;
        align-items: center;
        padding: 0 15px;
        width: fit-content; }
        .main-video-homepage .video-banner .info-video p:first-child {
          padding-bottom: 0; }
        .main-video-homepage .video-banner .info-video p:last-child {
          padding-bottom: 0; }

.home-section-our-team {
  background-image: url("../images/bg04.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: static;
  padding: 30px 0; }
  .home-section-our-team .our-team .our-team-item .our-team-item-img {
    display: flex;
    justify-content: center; }
    .home-section-our-team .our-team .our-team-item .our-team-item-img img {
      width: 80%; }
  .home-section-our-team .our-team .our-team-item .our-team-item-info {
    text-align: center;
    margin-top: 30px; }
    .home-section-our-team .our-team .our-team-item .our-team-item-info h4 {
      font-weight: 700;
      font-size: 22px; }
  .home-section-our-team .owl-controls .owl-buttons {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    z-index: 10; }
    .home-section-our-team .owl-controls .owl-buttons .owl-prev,
    .home-section-our-team .owl-controls .owl-buttons .owl-next {
      position: absolute;
      width: 45px;
      height: 45px;
      font-size: 25px; }
    .home-section-our-team .owl-controls .owl-buttons .owl-prev {
      left: 0; }
    .home-section-our-team .owl-controls .owl-buttons .owl-next {
      right: 0; }

.home-section-classes {
  margin-bottom: 50px; }
  .home-section-classes .slider-classes.owl-carousel .owl-item {
    display: flex;
    justify-content: center; }
  .home-section-classes .slider-classes.owl-carousel .owl-controls .owl-buttons {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    z-index: 10; }
    .home-section-classes .slider-classes.owl-carousel .owl-controls .owl-buttons .owl-prev,
    .home-section-classes .slider-classes.owl-carousel .owl-controls .owl-buttons .owl-next {
      position: absolute;
      width: 45px;
      height: 45px;
      font-size: 25px; }
    .home-section-classes .slider-classes.owl-carousel .owl-controls .owl-buttons .owl-prev {
      left: 0; }
    .home-section-classes .slider-classes.owl-carousel .owl-controls .owl-buttons .owl-next {
      right: 0; }
  .home-section-classes .slider-classes .item {
    width: 80%; }
    .home-section-classes .slider-classes .item .description {
      padding: 5px 10px;
      font-size: 14px; }

.home-section-anniversary {
  padding: 50px 0; }
  .home-section-anniversary .info-anniversary {
    max-height: 350px;
    overflow: hidden;
    transition: max-height 0.5s ease; }
    .home-section-anniversary .info-anniversary.show-full {
      max-height: none; }
  .home-section-anniversary .btn-read-more {
    margin: 10px 0; }
    .home-section-anniversary .btn-read-more .btn-read-more {
      padding: 0; }

.home-section-events {
  padding-top: 50px; }

.page-about-us {
  padding: 50px 20px;
  margin-top: 165px; }
  @media (max-width: 992px) {
    .page-about-us {
      margin-top: 70px; } }

.page-classes .video-container {
  padding: 20px; }

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99991;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease; }
  .overlay.visible {
    opacity: 1;
    visibility: visible; }

.cart-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99991;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease; }
  .cart-overlay.open {
    opacity: 1;
    visibility: visible; }

.gallery {
  margin-top: 50px; }
  .gallery .title {
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
    color: #000;
    font-size: 27px;
    font-family: "Futura Std Light";
    text-transform: uppercase;
    font-weight: bolder;
    line-height: 27px;
    letter-spacing: 0.1em; }
    @media (max-width: 992px) {
      .gallery .title {
        text-align: center;
        font-size: 20px; } }
  .gallery .gallery-video {
    margin: 50px auto;
    text-align: center; }
    .gallery .gallery-video .video iframe {
      max-width: 100%; }
  .gallery .list-gallery .item {
    height: 240px;
    width: 100%;
    position: relative;
    margin-bottom: 30px; }
    @media (max-width: 992px) {
      .gallery .list-gallery .item {
        height: 300px; } }
    .gallery .list-gallery .item .img {
      opacity: 1;
      width: 100%;
      height: 100%;
      transform: scale(1, 1) perspective(10000px) rotateX(0deg);
      position: relative;
      overflow: visible;
      z-index: 2;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0; }
    .gallery .list-gallery .item .item-hover {
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      -moz-opacity: 0;
      -khtml-opacity: 0;
      opacity: 0; }
      .gallery .list-gallery .item .item-hover .mega-hovertitle {
        position: absolute;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        width: 60%;
        padding: 0px 0px 15px;
        left: 20%;
        bottom: 40%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
        text-transform: uppercase; }
      .gallery .list-gallery .item .item-hover .mega-hoverview {
        width: 33px;
        height: 33px;
        position: absolute;
        top: 50%;
        text-align: center;
        margin-top: 0px;
        cursor: pointer;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
        background: none;
        border: 0;
        padding: 5px 8px;
        color: #fff;
        font-size: 30px;
        left: 0;
        right: 0;
        margin: 0 auto; }
    .gallery .list-gallery .item:hover .item-hover {
      background: rgba(0, 0, 0, 0.6);
      filter: alpha(opacity=100);
      -moz-opacity: 1;
      -khtml-opacity: 1;
      opacity: 1;
      transition-delay: 0.1s;
      -moz-transition-delay: 0.1s;
      -webkit-transition-delay: 0.1s;
      -o-transition-delay: 0.1s; }
      .gallery .list-gallery .item:hover .item-hover .mega-hovertitle {
        bottom: 50%;
        transition-delay: 0.1s;
        -moz-transition-delay: 0.1s;
        -webkit-transition-delay: 0.1s;
        -o-transition-delay: 0.1s;
        transform: rotate(0deg);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1; }
      .gallery .list-gallery .item:hover .item-hover .mega-hoverview {
        transform: rotate(0deg);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1; }

.page-contact-us .contact-title {
  color: #333333;
  padding: 0px 0px 15px 0px;
  margin: 0px 0px 15px 0px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: normal;
  font-weight: normal; }

.page-contact-us .form-vertical {
  margin-bottom: 15px; }
  .page-contact-us .form-vertical .contact-form .form-row .form-group label[for] {
    cursor: pointer; }
  .page-contact-us .form-vertical .contact-form .form-row .form-group input {
    border: 1px solid #e5e5e5;
    max-width: 100%;
    padding: 8px 10px;
    border-radius: 3px;
    margin-bottom: 10px; }
  .page-contact-us .form-vertical .contact-form .form-row .form-group .hidden-label {
    position: absolute;
    height: 0;
    width: 0;
    margin-bottom: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px); }
  .page-contact-us .form-vertical .contact-form .form-row .form-group .input-full {
    width: 100%; }
  .page-contact-us .form-vertical .contact-form .form-row .form-group.message {
    width: 100%;
    padding: 0 6px; }
  .page-contact-us .form-vertical .contact-form .form-row .btn-submit {
    margin: auto;
    border-radius: 25px;
    padding: 10px 25px;
    color: #fff;
    background-image: -webkit-gradient(linear, left top, right top, from(#151515eb), to(#3838388c));
    background-image: -webkit-linear-gradient(to right, #151515eb, #3838388c);
    background-image: -o-linear-gradient(to right, #151515eb, #3838388c);
    background-image: linear-gradient(to right, #151515eb, #3838388c) border-box;
    opacity: 0.7;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .page-contact-us .form-vertical .contact-form .form-row .btn-submit:hover {
      opacity: 1; }

.page-contact-us .imgcontact {
  padding-top: 100px;
  will-change: transform;
  transform: perspective(300px) rotateX(0deg) rotateY(0deg); }

.page-contact-us .frm-contact {
  margin-top: 30px; }
  .page-contact-us .frm-contact label {
    font-size: 14px;
    font-weight: 500;
    word-break: break-word; }
  .page-contact-us .frm-contact .groupsubmit {
    text-align: center; }
    .page-contact-us .frm-contact .groupsubmit button {
      width: 100%;
      max-width: 150px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      background-color: #307854; }

.page-contact-us .info2 .item {
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.11);
  padding: 20px;
  width: 100%;
  display: inline-block; }
  @media (max-width: 991px) {
    .page-contact-us .info2 .item {
      box-shadow: none;
      padding: 0; } }
  .page-contact-us .info2 .item h3 {
    font-size: 20pt;
    font-family: "Cinzel", serif;
    text-align: left;
    margin-bottom: 10px;
    color: #000; }
    @media (max-width: 991px) {
      .page-contact-us .info2 .item h3 {
        font-size: 14pt; } }
  .page-contact-us .info2 .item .location {
    width: 50%;
    float: left; }
    @media (max-width: 991px) {
      .page-contact-us .info2 .item .location {
        width: 100%;
        float: left;
        box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.11);
        padding: 10px;
        margin-bottom: 30px; } }
    .page-contact-us .info2 .item .location .content {
      width: 100%; }
      .page-contact-us .info2 .item .location .content iframe {
        width: 100%;
        height: 500px; }
  .page-contact-us .info2 .item .frm-send-message {
    width: 50%;
    float: right; }
    @media (max-width: 991px) {
      .page-contact-us .info2 .item .frm-send-message {
        width: 100%;
        float: left;
        box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.11);
        padding: 30px 10px;
        margin-bottom: 30px; } }
    .page-contact-us .info2 .item .frm-send-message h3 {
      text-align: center; }

.page-contact-us ul li {
  list-style: none;
  font-size: 14px; }
  .page-contact-us ul li .phone-number {
    text-decoration: underline; }

.main {
  padding: 50px 0px;
  background-color: #fff; }
