.main.homepage {
  padding-bottom: 0;
  overflow: hidden; }
  @media (max-width: 992px) {
    .main.homepage {
      overflow-x: hidden; } }
  .main.homepage .section-title {
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center; }
    .main.homepage .section-title h2 {
      color: #2e7250;
      text-align: center;
      font-size: 14px;
      font-family: "futura-std";
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 1.5em; }
    .main.homepage .section-title h3 {
      color: #272424;
      text-align: center;
      font-family: "futura-std";
      font-weight: 500;
      font-size: 38px;
      line-height: 1.4em; }
  .main.homepage .home-section-about .section-title h3 {
    max-width: 63%; }
    @media (max-width: 992px) {
      .main.homepage .home-section-about .section-title h3 {
        max-width: 80%; } }

.home-section-subscribe {
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 50px 0; }
  .home-section-subscribe h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0; }
  .home-section-subscribe .box-subscribe {
    display: flex;
    justify-content: end; }

.home-section-about {
  margin: 0 0 50px; }

.main-video-homepage {
  margin-top: 215px; }
  .main-video-homepage .video-banner {
    position: relative; }
    .main-video-homepage .video-banner .video-background {
      width: 100%; }
    .main-video-homepage .video-banner .info-video {
      position: absolute;
      top: 40%;
      left: 0;
      right: 0;
      padding: 30px;
      width: 80%;
      margin: auto; }
      .main-video-homepage .video-banner .info-video p {
        color: #ffffff;
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 0;
        text-align: center;
        background-color: #211e1f61;
        display: flex;
        align-items: center;
        border-radius: 6px;
        padding: 7px 20px; }

.home-section-our-team .our-team .our-team-item .our-team-item-img {
  display: flex;
  justify-content: center; }
  .home-section-our-team .our-team .our-team-item .our-team-item-img img {
    width: 80%; }

.home-section-our-team .our-team .our-team-item .our-team-item-info {
  text-align: center;
  margin-top: 30px; }
  .home-section-our-team .our-team .our-team-item .our-team-item-info h4 {
    font-weight: 700;
    font-size: 22px; }

.home-section-our-team .owl-controls .owl-buttons {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  z-index: 10; }
  .home-section-our-team .owl-controls .owl-buttons .owl-prev,
  .home-section-our-team .owl-controls .owl-buttons .owl-next {
    position: absolute;
    width: 45px;
    height: 45px;
    font-size: 25px; }
  .home-section-our-team .owl-controls .owl-buttons .owl-prev {
    left: 0; }
  .home-section-our-team .owl-controls .owl-buttons .owl-next {
    right: 0; }

.home-section-classes {
  margin-bottom: 50px; }
  .home-section-classes .slider-classes.owl-carousel .owl-item {
    display: flex;
    justify-content: center; }
  .home-section-classes .slider-classes.owl-carousel .owl-controls .owl-buttons {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    z-index: 10; }
    .home-section-classes .slider-classes.owl-carousel .owl-controls .owl-buttons .owl-prev,
    .home-section-classes .slider-classes.owl-carousel .owl-controls .owl-buttons .owl-next {
      position: absolute;
      width: 45px;
      height: 45px;
      font-size: 25px; }
    .home-section-classes .slider-classes.owl-carousel .owl-controls .owl-buttons .owl-prev {
      left: 0; }
    .home-section-classes .slider-classes.owl-carousel .owl-controls .owl-buttons .owl-next {
      right: 0; }
  .home-section-classes .slider-classes .item {
    width: 80%; }
    .home-section-classes .slider-classes .item .description {
      padding: 5px 10px;
      font-size: 14px; }

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99991;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease; }
  .overlay.visible {
    opacity: 1;
    visibility: visible; }

.cart-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99991;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease; }
  .cart-overlay.open {
    opacity: 1;
    visibility: visible; }

.main {
  padding: 50px 0px;
  background-color: #fff; }
