.product-list .product-item {
  margin-bottom: 50px; }
  .product-list .product-item .product-image {
    position: relative;
    overflow: hidden;
    max-height: 320px;
    box-shadow: 0px 0px 4px 0px rgba(4, 5, 5, 0.15); }
    .product-list .product-item .product-image a {
      display: block;
      overflow: hidden; }
      .product-list .product-item .product-image a img {
        width: 100%;
        border: 0;
        padding: 0; }
    .product-list .product-item .product-image .product-overlay {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background: linear-gradient(to right, #dbddff, #fee4fc);
      opacity: 0;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .product-list .product-item .product-image .product-tags {
      position: absolute;
      top: 2px;
      right: 2px; }
      .product-list .product-item .product-image .product-tags > div {
        position: relative;
        display: inline-block;
        width: 40px;
        font-size: 12px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        border: 2px solid transparent;
        z-index: 1; }
        .product-list .product-item .product-image .product-tags > div.tag-saleoff {
          background: linear-gradient(to right, #dbddff, #fee4fc) border-box;
          color: #9ea3ff; }
          .product-list .product-item .product-image .product-tags > div.tag-saleoff span {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 1px;
            bottom: 1px;
            left: 1px;
            right: 1px;
            background-color: #fff;
            content: '';
            border-radius: 50%; }
    .product-list .product-item .product-image .product-actions {
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      bottom: 15px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      transition: all 0.5s ease;
      transform: translateY(150px); }
      .product-list .product-item .product-image .product-actions .product-actions-inner {
        display: flex;
        justify-content: center; }
        .product-list .product-item .product-image .product-actions .product-actions-inner > div {
          background: linear-gradient(to right, #dbddff, #fee4fc) border-box;
          border: 3px solid transparent;
          border-radius: 50%;
          margin: 0px 3px;
          display: inline-block;
          float: left;
          box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3); }
          .product-list .product-item .product-image .product-actions .product-actions-inner > div > button {
            color: #9ea3ff;
            background: #fff;
            display: block;
            outline: 0px;
            height: 35px;
            width: 35px;
            border: 0;
            cursor: pointer;
            line-height: 35px;
            overflow: hidden;
            border-radius: 50%;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            transition: all 0.3s ease; }
            .product-list .product-item .product-image .product-actions .product-actions-inner > div > button i {
              font-size: 16px; }
            .product-list .product-item .product-image .product-actions .product-actions-inner > div > button:last-child {
              margin-right: 0px; }
            .product-list .product-item .product-image .product-actions .product-actions-inner > div > button::hover {
              background: linear-gradient(to right, #dbddff, #fee4fc);
              color: #333333; }
            .product-list .product-item .product-image .product-actions .product-actions-inner > div > button.btnBuyNow {
              width: auto;
              padding: 0px 15px;
              border-radius: 30px; }
          .product-list .product-item .product-image .product-actions .product-actions-inner > div:last-child {
            border-radius: 30px; }
  .product-list .product-item:hover .product-image a img {
    transform: scale(1.05); }
  .product-list .product-item:hover .product-image .product-overlay {
    opacity: 0.7; }
  .product-list .product-item:hover .product-image .product-actions {
    transform: translate(0px); }
  .product-list .product-item .product-info {
    margin: 0px 5px; }
    .product-list .product-item .product-info .product-title {
      margin: 10px 0px 5px; }
      .product-list .product-item .product-info .product-title a {
        display: block;
        color: #333333; }
        .product-list .product-item .product-info .product-title a:hover {
          text-decoration: none; }
    .product-list .product-item .product-info .product-price .current-price {
      color: #ffb0f8; }
    .product-list .product-item .product-info .product-price .original-price {
      color: #999999;
      margin-left: 5px; }
