.product-single .product-single-photos img {
  width: 100% !important;
  height: inherit !important; }

.product-single .product-single-photos .gallery {
  display: inline-block;
  clear: both; }
  .product-single .product-single-photos .gallery a img {
    border: 2px solid #fff;
    width: 96px !important; }
  .product-single .product-single-photos .gallery a:hover {
    text-decoration: none; }
  .product-single .product-single-photos .gallery a.active img {
    border: 2px solid #333; }

.product-single .product-page {
  padding-left: 40px; }
  .product-single .product-page .name {
    color: #333333;
    font-size: 24px; }
  .product-single .product-page .product-more-info {
    font-size: 16px; }
  .product-single .product-page .product-info .visually-hidden {
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    display: none; }
  .product-single .product-page .product-info .one-whole .line-price .price-text {
    margin-right: 10px;
    font-size: 16px; }
  .product-single .product-page .product-info .one-whole .line-price .ProductPrice {
    color: #ffb0f8;
    font-size: 24px; }
  .product-single .product-page .product-info .one-whole .line-price .ComparePrice {
    color: #999999;
    font-size: 16px; }
  .product-single .product-page .product-single-details .product-description ul {
    padding-left: 15px; }
    .product-single .product-page .product-single-details .product-description ul li {
      font-size: 14px; }
      .product-single .product-page .product-single-details .product-description ul li a {
        text-decoration: underline; }
  .product-single .product-page .product-single-details .form-vertical .qty-addcart {
    margin-bottom: 15px; }
    .product-single .product-page .product-single-details .form-vertical .qty-addcart .quantity-selector {
      display: inline-block;
      min-width: 100px;
      font-size: 16px; }
    .product-single .product-page .product-single-details .form-vertical .qty-addcart .qty {
      display: inline-block;
      position: relative;
      margin-bottom: 1em;
      max-width: 100px;
      min-width: 75px;
      overflow: visible; }
      .product-single .product-page .product-single-details .form-vertical .qty-addcart .qty .icon-fallback {
        cursor: pointer;
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        border: 0 none;
        padding: 0 8px;
        background: none;
        text-align: center;
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
        .product-single .product-page .product-single-details .form-vertical .qty-addcart .qty .icon-fallback .visually-hidden {
          position: absolute;
          overflow: hidden;
          clip: rect(0 0 0 0);
          height: 1px;
          width: 1px;
          margin: -1px;
          padding: 0;
          border: 0; }
          .product-single .product-page .product-single-details .form-vertical .qty-addcart .qty .icon-fallback .visually-hidden .icon {
            display: inline-block; }
        .product-single .product-page .product-single-details .form-vertical .qty-addcart .qty .icon-fallback.icon-fallback-minus {
          left: 0;
          border-right: 1px solid #e5e5e5; }
        .product-single .product-page .product-single-details .form-vertical .qty-addcart .qty .icon-fallback.icon-fallback-plus {
          right: 0;
          border-left: 1px solid #e5e5e5; }
      .product-single .product-page .product-single-details .form-vertical .qty-addcart .qty .qty-num {
        display: block;
        background: none;
        text-align: center;
        width: 100%;
        padding: 5px 25px;
        margin: 0;
        border: 1px solid #e5e5e5;
        max-width: 100%;
        padding: 8px 10px;
        outline: none; }
  .product-single .product-page .product-single-details .form-vertical .btn-product-page button {
    color: #9ea3ff;
    padding: 12px 26px;
    border: 1px solid #9ea3ff;
    border-radius: 30px;
    font-size: 16px;
    text-transform: uppercase;
    background: transparent;
    font-weight: unset;
    margin-right: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .product-single .product-page .product-single-details .form-vertical .btn-product-page button:hover {
      background-image: linear-gradient(to right, #9ea3ff, #ffb0f8);
      border: 1px solid transparent;
      outline: unset;
      color: #fff;
      border-right: 1px solid #feccf9; }

.product-single-desc {
  margin-top: 30px;
  margin-bottom: 30px; }
  .product-single-desc .product-tabs .tab {
    background-image: linear-gradient(to right, #9ea3ff, #ffb0f8); }
    .product-single-desc .product-tabs .tab .pro-tablinks {
      background: #ebebeb;
      padding: 12px;
      outline: unset;
      font-size: 16px;
      text-transform: uppercase;
      float: left;
      border: 0;
      border-right: 1px solid transparent;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .product-single-desc .product-tabs .tab .pro-tablinks:hover, .product-single-desc .product-tabs .tab .pro-tablinks.active, .product-single-desc .product-tabs .tab .pro-tablinks:focus {
        color: #fff;
        outline: 0;
        border: 0;
        background: rgba(255, 255, 255, 0.4);
        border-right: 1px solid #e5e5e5; }
  .product-single-desc .product-tabs .pro-tabcontent {
    border: 1px solid #e5e5e5;
    padding: 20px;
    width: 100%; }

.related-products .related-product-title h3 {
  background-image: linear-gradient(to right, #9ea3ff, #ffb0f8);
  padding: 15px 10px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 16px; }

.related-products .related-product-content {
  border: 1px solid #e5e5e5;
  padding: 20px;
  width: 100%; }
  .related-products .related-product-content .owl-carousel .owl-item {
    padding: 15px; }
  .related-products .related-product-content .owl-carousel .owl-controls .owl-buttons .owl-prev, .related-products .related-product-content .owl-carousel .owl-controls .owl-buttons .owl-next {
    position: absolute;
    top: calc(50% - 30px);
    color: #9ea3ff;
    font-size: 60px;
    line-height: 60px;
    padding: 0px;
    margin: 0px;
    background: none; }
  .related-products .related-product-content .owl-carousel .owl-controls .owl-buttons .owl-prev {
    left: 30px; }
  .related-products .related-product-content .owl-carousel .owl-controls .owl-buttons .owl-next {
    right: 30px; }

.related-products.product-list .owl-carousel .product-item {
  margin-bottom: 0; }
