.sidebar .collection-filter {
  background: linear-gradient(to right, rgba(158, 163, 255, 0.5), rgba(255, 176, 248, 0.5));
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 4px;
  overflow: hidden;
  padding: 1px; }
  .sidebar .collection-filter button {
    cursor: pointer;
    text-align: left;
    color: #333333;
    padding: 10px;
    font-size: 18px;
    font-family: "UTM-Neo-Sans-Intel-Bold";
    font-weight: 700;
    width: 100%;
    border: none;
    outline: none;
    position: relative;
    background: transparent;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .sidebar .collection-filter button:after {
      content: '\f067';
      font-family: FontAwesome;
      position: absolute;
      font-size: 14px;
      top: calc(50% - 9px);
      right: 10px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .sidebar .collection-filter button.active::after {
      content: "\f068"; }
  .sidebar .collection-filter .panel {
    padding: 0 15px;
    overflow: hidden;
    max-height: 0px;
    font-size: 14px;
    transition: max-height 0.2s ease-out;
    background: #ffffff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
    .sidebar .collection-filter .panel ul {
      padding-left: 0;
      margin-bottom: 0;
      padding-top: 10px; }
      .sidebar .collection-filter .panel ul li {
        margin-bottom: 5px; }
        .sidebar .collection-filter .panel ul li:last-child {
          margin-bottom: 0; }
    .sidebar .collection-filter .panel .filter-color li {
      width: 50%;
      box-sizing: border-box;
      float: left;
      min-height: 1px;
      vertical-align: top; }
      .sidebar .collection-filter .panel .filter-color li label {
        margin-bottom: 0; }
    .sidebar .collection-filter .panel .filter-size li {
      width: 50%;
      box-sizing: border-box;
      float: left;
      min-height: 1px;
      vertical-align: top; }
      .sidebar .collection-filter .panel .filter-size li label {
        margin-bottom: 0; }

.sidebar.sidebar-blog ul li a {
  color: #333333;
  display: block;
  margin-bottom: 7px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .sidebar.sidebar-blog ul li a:hover {
    padding-left: 3px;
    color: #9ea3ff;
    text-decoration: none; }

.sidebar.sidebar-blog .list-post {
  padding-top: 10px;
  background: #ffffff; }
  .sidebar.sidebar-blog .list-post .item {
    margin-bottom: 10px;
    padding-right: 5px;
    display: inline-block;
    clear: both;
    width: 100%; }
    .sidebar.sidebar-blog .list-post .item .article-img {
      width: 30%;
      float: left;
      min-height: 1px;
      vertical-align: top;
      clear: both; }
      .sidebar.sidebar-blog .list-post .item .article-img a {
        display: block;
        margin-left: 5px;
        overflow: hidden; }
        .sidebar.sidebar-blog .list-post .item .article-img a img {
          width: 100%;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          transition: all 0.3s ease; }
    .sidebar.sidebar-blog .list-post .item .content {
      width: 70%;
      float: left;
      min-height: 1px;
      padding-left: 5px;
      vertical-align: top; }
      .sidebar.sidebar-blog .list-post .item .content .title {
        display: block;
        margin: 0px;
        margin-bottom: 5px;
        color: #333333;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .sidebar.sidebar-blog .list-post .item .content .title:hover {
          color: #9ea3ff;
          text-decoration: none; }
      .sidebar.sidebar-blog .list-post .item .content .info {
        color: #999999; }
        .sidebar.sidebar-blog .list-post .item .content .info span {
          margin-right: 10px;
          font-size: 12px; }
          .sidebar.sidebar-blog .list-post .item .content .info span i {
            margin-right: 5px;
            font-size: 14px; }
    .sidebar.sidebar-blog .list-post .item:hover .article-img a img {
      transform: scale(1.05); }

.sidebar-product {
  background: #ffffff;
  padding-bottom: 15px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }
  .sidebar-product .item {
    padding-top: 15px;
    clear: both; }
    .sidebar-product .item .article-img {
      width: 35%;
      float: left;
      min-height: 1px;
      vertical-align: top; }
      .sidebar-product .item .article-img img {
        max-width: 100%;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease; }
    .sidebar-product .item .content {
      width: 65%;
      float: left;
      min-height: 1px;
      padding-left: 10px;
      vertical-align: top; }
      .sidebar-product .item .content .price .current-price {
        color: #ffb0f8;
        margin-right: 5px;
        font-size: 12px; }
      .sidebar-product .item .content .price .original-price {
        color: #999999;
        font-size: 10px; }
    .sidebar-product .item a {
      color: #333333;
      display: block;
      overflow: hidden;
      line-height: 16px; }
      .sidebar-product .item a:hover {
        text-decoration: none;
        color: #9ea3ff; }
    .sidebar-product .item:hover .article-img img {
      transform: scale(1.3); }
