.lbl-title {
  color: #fff;
  font-size: 12px;
  text-decoration: none; }

.form-group-input {
  position: relative;
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.24);
  margin-bottom: 30px; }
  .form-group-input.inputMail .focus-input-control, .form-group-input.inputPassWord .focus-input-control {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none; }
    .form-group-input.inputMail .focus-input-control i, .form-group-input.inputPassWord .focus-input-control i {
      font-size: 19px;
      color: #fff;
      display: block;
      width: 100%;
      position: absolute;
      top: 8px;
      left: 0px;
      padding-left: 5px;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transition: all 0.5s; }
  .form-group-input input {
    padding: 0 5px 0 30px;
    background: transparent;
    outline: none;
    border: none;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s; }
    .form-group-input input:-internal-autofill-selected {
      background-color: red !important;
      color: #fff; }
    .form-group-input input::-webkit-input-placeholder {
      color: #fff;
      font-size: 12px;
      text-decoration: none; }
    .form-group-input input:-moz-placeholder {
      color: #fff;
      font-size: 12px;
      text-decoration: none; }
    .form-group-input input::-moz-placeholder {
      color: #fff;
      font-size: 12px;
      text-decoration: none; }
    .form-group-input input:-ms-input-placeholder {
      color: #fff;
      font-size: 12px;
      text-decoration: none; }
    .form-group-input input:focus {
      padding-left: 5px;
      outline: 0;
      border: none;
      box-shadow: none;
      background: transparent;
      color: #fff; }
      .form-group-input input:focus::-webkit-input-placeholder {
        color: #fff;
        font-size: 12px;
        text-decoration: none; }
      .form-group-input input:focus:-moz-placeholder {
        color: #fff;
        font-size: 12px;
        text-decoration: none; }
      .form-group-input input:focus::-moz-placeholder {
        color: #fff;
        font-size: 12px;
        text-decoration: none; }
      .form-group-input input:focus:-ms-input-placeholder {
        color: #fff;
        font-size: 12px;
        text-decoration: none; }
      .form-group-input input:focus + .focus-input-control::before {
        content: "";
        display: block;
        position: absolute;
        background: #fff;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s; }
      .form-group-input input:focus + .focus-input-control i {
        top: -18px;
        font-size: 18px;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s; }

.form-group-checkbox {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 35px; }
  .form-group-checkbox label.form-check-label {
    font-size: 13px;
    color: #fff;
    line-height: 1.5;
    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer; }
    .form-group-checkbox label.form-check-label::before {
      content: "\f00c";
      font-size: 13px;
      font-family: 'FontAwesome';
      color: transparent;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 19px;
      height: 19px;
      border-radius: 2px;
      background: #fff;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50); }
  .form-group-checkbox input.form-check-input {
    display: none; }
    .form-group-checkbox input.form-check-input[type="checkbox"]:checked + .form-check-label::before {
      color: #9b47f5; }

.custom-radio {
  clear: both; }
  .custom-radio .custom-control-label {
    vertical-align: middle;
    line-height: 25px; }
  .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #bd72ec;
    background-color: #bd72ec; }
  .custom-radio .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem #bd72ec; }
