.main {
    &.homepage {
        padding-bottom: 0;
        overflow: hidden;

        @media (max-width: 992px) {
            overflow-x: hidden;
        }

        .section-title {
            margin-bottom: 30px;
            h2 {
                color: #2e7250;
                text-align: center;
                font-size: 14px;
                font-family: "futura-std";
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 1px;
                line-height: 1.5em;
            }
            h3 {
                color: #272424;
                text-align: center;
                font-family: "futura-std";
                font-weight: 500;
                font-size: 38px;
                line-height: 1.4em;
            }

        }
    }
}

.home-section-subscribe{
    background-image: url("../images/subscribe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px 0;
    h3{
        color: #fff;
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 0;
    }
    .box-subscribe{
        display: flex;
        justify-content: end;
    }
}

.home-section-about{
    margin: 50px 0;
}
.main-video-homepage {
    margin-top: 215px;
    .video-banner{
        position: relative;
        .video-background{
            width: 100%;
        }
        .info-video{
            position: absolute;
            top: 40%;
            left: 0;
            right: 0;
            padding: 30px;
            width: 80%;
            margin: auto;
          p{
            color: #ffffff;
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 0;
            text-align: center;
            background-color: #dbcb9f4a;
            display: flex;
            align-items: center;
            border-radius: 6px;
            padding: 7px 20px;
          }
           
        }
    }
}
